@import "styles/foundation/variable"

.root
  padding: 0 24px 0 24px
  position: relative

  > span
    display: none

    &.border
      position: absolute
      bottom: 0
      display: inline-block
      width: calc(100% - 48px)
      height: 1px
      background-color: $gray


  &.mb70
    margin-bottom: 70px

  &.pd70
    padding-bottom: 70px

  &.mb100
    margin-bottom: 100px

  &.pd100
    padding-bottom: 100px



