@import "styles/font.module"
@import "styles/utility.module"
@import "styles/variables.module"

.root
  backdrop-filter: blur(12px)
  position: fixed
  width: 100vw
  height: $headerH + px
  z-index: 999999
  &.dark
    background-color: rgba($black, 0.2)
  &.light
    background-color: rgba($gray, 0.2)

.container
  z-index: 10
  left: 50%
  transform: translateX(-50%)


.block
  height: $headerH+px
  position: relative

.menuBtn
  position: relative
  width: $headerH * 1px
  height: $headerH * 1px
  @extend .add_before
  @extend .add_after

  &:before, &:after
    position: absolute
    width: 28px
    height: 2px
    transition: all 300ms $cubeBezier
    @extend .absolute_centerAuto
  &.dark
    &:before,&:after
      background-color: $white
  &.light
    &:before,&:after
      background-color: $black

  &:before
    top: 40%

  &:after
    bottom: 40%

  &.isOpen
    transition: all 300ms ease-out

    &:before, &:after
      @extend .absolute_centerCenter

    &:before
      transform: translate(-50%, -50%) rotate(45deg)

    &:after
      transform: translate(-50%, -50%) rotate(-45deg)

