@import "styles/foundation/variable"
@import "styles/foundation/font.module"

.root
  width: 100vw
  margin: 0 calc(50% - 50vw)

  li
    color: $white
    position: relative
    min-height: 198px
    background-color: $black

    span
      opacity: 0.6

    h5
      position: absolute
      width: 100%
      text-align: center
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)