@import "styles/foundation/font.module"
@import "styles/foundation/variable"

.root
  min-height: 320px
  width: 100vw
  margin: 0 calc(50% - 50vw)
  overflow: hidden

  h1
    font-size: 27px

  span
    font-size: 14px

  .image
    position: relative

    img
      opacity: 0.55

  .textBlock
    padding-top: 70px

    h1
      margin-bottom: 8px

  .inner
    position: relative
    display: flex
    flex-flow: column

    &.reverse
      flex-direction: column-reverse

      .image
        min-height: 120px

    &.overlay
      .image
        height: 100vh

      .textBlock
        color: $off-gray
        position: absolute
        text-align: center
        width: 100%
        top: 50%
        transform: translateY(-50%)

        .bar
          position: relative
          text-align: center
          font-size: 0
          width: 100vw
          margin: 0 calc(50% - 50vw)

          span
            position: absolute
            display: block
            width: 100vh
            height: 1px
            left: 50%
            transform-origin: bottom left
            background-color: $off-gray
            transform: rotate(90deg) translateX(50px)







