@import "styles/foundation/font.module"
@import "styles/foundation/variable"

.root
  display: flex
  button
    display: flex
    align-items: center
    justify-content: space-between
    height: 40px
    &:hover
      span
        color: $blue

    span
      transition: color 100ms ease-out
      padding-right: 23px
      transition: padding-right 300ms ease-out
    &:hover
      span
        padding-right: 11px


  &.hideArrow
    button
      span
        transition: none
        padding-right: 0

  &.hideArrow
    span
      padding-right: 0
      line-height: 1
    svg
      display: none

