@import "styles/foundation/font.module"
@import "styles/foundation/variable"
@import "styles/foundation/mixin"

.headLine
  h3
    text-align: center
    margin-bottom: genClamp(30, 70)

  p
    margin-bottom: 1em

    &:last-child
      margin-bottom: 0


.text
  @include lg
    display: flex
    flex-wrap: nowrap
    align-items: center
    border-width: 0 0 0 1px
    border-style: solid
    border-color: $white

    h3
      flex-grow: 1
      text-align: center
      margin-bottom: 0

    > div
      width: (1/1.681*100%)

    > div, h3
      padding: 20px

