@import "styles/variables.module"
@import "styles/font.module"
@import "styles/functions.module"
@import "styles/utility.module"
@import "styles/animation.module"

.link
  display: inline-block
  position: relative
  min-width: 123px
  height: 46px
  text-align: left
  border-width: 1.2px
  border-style: solid
  &.light
    border-color:  $black
  &.dark
    border-color:  $white


.wrapper
  position: absolute


.text
  font-size: 12px
  line-height: 1
  letter-spacing: 0
  text-align: center