@import "styles/variables.module"
@import "styles/font.module"
@import "styles/functions.module"

*, :before, :after
  box-sizing: border-box

html, body
  font-size: 16px
  @extend .fontLight
  &.dark
    background-color: $black
    color: $white
  &.light
    background-color: $white
    color: $black
img
  vertical-align: top

a, button, span, svg
  vertical-align: top

a, button
  cursor: pointer


